@import "../reset.css";
@import "../screens/login.css";
@import "../screens/signup.css";
@import "../screens/settings.css";

@media screen and (min-width: 450px) {
    .mobile__screen {
        display: none;
    }

    .pc__screen {
        width: 100%;
        height: 100vh;
        background-color: aquamarine;
        color: #fff;
        font-size: 30px;
        font-weight: bold;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pc__screen p {
        text-shadow: 3px 3px 3px #222;
    }
}

@media screen and (max-width: 451px) {
    .pc__screen {
        display: none;
    }

    .mobile__screen {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
}