doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=ß, initial-scale=1.0")
        title cielo
        link(rel="stylesheet", href="/css/layouts/searchmain.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css")
    body
        section.pc__screen 
        section.mobile__screen
        header.searchheader
            .searchheader__col1
                i.fas.fa-search
                input(type="text" placeholder="검색")

        main.searchmain     
            block content

        nav.nav
                div 
                    .nav__col1 
                        a(href="/home")
                            i.fas.fa-home
                div 
                    .nav__col2
                        a(href="/image")
                            i.fas.fa-th-large
                div 
                    .nav__col3
                        a(href="/like") 
                            i.fas.fa-heart
                                
                div 
                    .nav__col4
                        a(href="/profile")  
                            i.fas.fa-user      