doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=ß, initial-scale=1.0")
        title cielo
        link(rel="stylesheet", href="/css/layouts/serve.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css")
    body 
        section.pc__screen 
        section.mobile__screen
        block content