extends ../layouts/main.pug

block content
    div.box
        .box__col1
            a(href="/image") 
                .box__col1__sec
                    .box__col1__sec__b1
                    .box__col1__sec__b2
                        img(src="img/line.png") 

        .box__col2
            a(href="/image") 
                .box__col2__sec
                    .box__col2__sec__text
                        .box__col2__sec__text__t1
                            p ci 
                            span pr  
                    .box__col2__sec__ba
                        .box__col2__sec__ba__text
                            p elo
                            p oject
                        .box__col2__sec__ba__img
                            img(src="img/home1.png")

        .box__col3
            a(href="/image")
                .box__col3__sec
                    .box__col3__sec__img 

        .box__col4 
            .box__col4__sec1
                .box__col4__sec1__b1
                    a(href="/image")
                        .box__col4__sec1__b1__k
                            .box__col4__sec1__b1__k__text
                                .box__col4__sec1__b1__k__text__icon 
                                    i.fas.fa-chevron-right   
                            .box__col4__sec1__b1__k__img 
                                img(src="img/home3.png")   
                .box__col4__sec1__b2
                    a(href="/image")
                        .box__col4__sec1__b2__k
                            .box__col4__sec1__b2__k__text
                                .box__col4__sec1__b2__k__text__icon 
                                    i.fas.fa-chevron-right  
                            .box__col4__sec1__b2__k__img 
                                img(src="img/home2.png")
            .box__col4__sec2    
                .box__col4__sec2__b1
                    a(href="/image")
                        .box__col4__sec2__b1__l
                            .box__col4__sec2__b1__l__text
                                .box__col4__sec2__b1__l__text__icon 
                                    i.fas.fa-chevron-right    
                            .box__col4__sec2__b1__l__img
                                img(src="img/home4.png")
                .box__col4__sec2__b2
                    a(href="/image")
                        .box__col4__sec2__b2__l
                            .box__col4__sec2__b2__l__text
                                .box__col4__sec2__b2__l__text__icon
                                    i.fas.fa-chevron-right      
                            .box__col4__sec2__b2__l__img
                                img(src="img/home5.png")

        .box__col5  

        .box__col6 
            .box__col6__sec1 
                .box__col6__sec1__bx1
                    a(href="/image") 
                        .box__col6__sec1__bx1__k
                            .box__col6__sec1__bx1__k__img
                            .box__col6__sec1__bx1__k__text 출처:핀터 레스트 
                .box__col6__sec1__bx2
                    a(href="/image") 
                        .box__col6__sec1__bx2__k
                            .box__col6__sec1__bx2__k__img
                            .box__col6__sec1__bx2__k__text 출처:핀터 레스트 
            .box__col6__sec2
                .box__col6__sec2__bx1
                    a(href="/image") 
                        .box__col6__sec2__bx1__l
                            .box__col6__sec2__bx1__l__img
                            .box__col6__sec2__bx1__l__text 출처:핀터 레스트 
                .box__col6__sec2__bx2
                    a(href="/image") 
                        .box__col6__sec2__bx2__l
                            .box__col6__sec2__bx2__l__img
                            .box__col6__sec2__bx2__l__text 출처:핀터 레스트 

        .box__col7

        .box__col8
            .box__col8__text HOT ＆ NEW
            .box__col8__sec1
                a(href="/image") 
                    .box__col8__sec1__b
                        .box__col8__sec1__b__img
                        .box__col8__sec1__b__text 
                            p 그림 잘그리는 꿀팁 온라인 강의!
            .box__col8__sec2
                a(href="/image")
                    .box__col8__sec2__b 
                        .box__col8__sec2__b__img
                        .box__col8__sec2__b__text 
                            p 디자인은 어떻게 해야하는가?
            .box__col8__sec3
                a(href="/image") 
                    .box__col8__sec3__b
                        .box__col8__sec3__b__img
                        .box__col8__sec3__b__text 
                            p 씨엘로가 추천하는 작품들
                    
        .box__col9  
        
        .box__col10
            .box__col10__sec1 
                .box__col10__sec1__bx1
                     a(href="/image") 
                        .box__col10__sec1__bx1__l
                            .box__col10__sec1__bx1__l__img
                            .box__col10__sec1__bx1__l__text 출처:핀터 레스트
                .box__col10__sec1__bx2
                     a(href="/image") 
                        .box__col10__sec1__bx2__l
                            .box__col10__sec1__bx2__l__img
                            .box__col10__sec1__bx2__l__text 출처:핀터 레스트
            .box__col10__sec2
                .box__col10__sec2__bx1
                     a(href="/image") 
                        .box__col10__sec2__bx1__l
                            .box__col10__sec2__bx1__l__img
                            .box__col10__sec2__bx1__l__text 출처:핀터 레스트
                .box__col10__sec2__bx2
                     a(href="/image") 
                        .box__col10__sec2__bx2__l
                            .box__col10__sec2__bx2__l__img
                            .box__col10__sec2__bx2__l__text 출처:핀터 레스트
        ul.bxslider
            li
                img(src="https://i.pinimg.com/474x/95/3d/bc/953dbc5d2e8f6b55cc6042f3afa0d05a.jpg")
            li
                img(src="https://i.pinimg.com/474x/30/d3/cc/30d3cc2b96e78f6b0d070022a59fa639.jpg")
            li
                img(src="https://i.pinimg.com/474x/d2/48/f8/d248f80fc0e9df3b9d508cfb3a3cb6cf.jpg")
            li
                img(src="https://i.pinimg.com/474x/6c/78/6b/6c786b7f343f4eee6d7204b9e7363028.jpg")
            li
                img(src="https://i.pinimg.com/474x/f9/71/17/f97117584ee7dc7db4860ed5851fc547.jpg")
            li
                img(src="https://i.pinimg.com/474x/83/bc/e0/83bce0f38e64c75dde00039ffb6eadff.jpg")
            li
                img(src="https://i.pinimg.com/474x/fe/d0/ac/fed0ac352a8d9c06f94681121be60f68.jpg") 
            li
                img(src="https://i.pinimg.com/474x/97/92/d6/9792d691d4ed916f5feb8f3956f780e4.jpg") 
            li 
                img(src="https://i.pinimg.com/474x/c9/c1/16/c9c1165b2b46dda712e83b4c13339492.jpg") 
            li 
                img(src="https://i.pinimg.com/474x/64/f5/66/64f566b6cac43d334572d788a2224dc5.jpg")

        .box__col11 

        .box__col12
            .box__col12__sec1
                .box__col12__sec1__bx1
                    a(href="/image")
                        .box__col12__sec1__bx1__k
                            .box__col12__sec1__bx1__k__img
                            .box__col12__sec1__bx1__k__text
                                p 출처:핀터 레스트
                .box__col12__sec1__bx2
                    a(href="/image") 
                        .box__col12__sec1__bx2__k
                            .box__col12__sec1__bx2__k__img
                            .box__col12__sec1__bx2__k__text
                                p 출처:핀터 레스트
                .box__col12__sec1__bx3
                    a(href="/image") 
                        .box__col12__sec1__bx3__k
                            .box__col12__sec1__bx3__k__img
                            .box__col12__sec1__bx3__k__text
                                p 출처:핀터 레스트
            .box__col12__sec2
                .box__col12__sec2__bx1
                    a(href="/image") 
                        .box__col12__sec2__bx1__k
                            .box__col12__sec2__bx1__k__img
                            .box__col12__sec2__bx1__k__text
                                p 출처:핀터 레스트
                .box__col12__sec2__bx2
                    a(href="/image")
                        .box__col12__sec2__bx2__k
                            .box__col12__sec2__bx2__k__img
                            .box__col12__sec2__bx2__k__text
                                p 출처:핀터 레스트
                .box__col12__sec2__bx3
                    a(href="/image") 
                        .box__col12__sec2__bx3__k
                            .box__col12__sec2__bx3__k__img
                            .box__col12__sec2__bx3__k__text
                                p 출처:핀터 레스트

        .box__Last
            a(href="/image")
                .box__Last__l 
                    .box__Last__l__col1
                    .box__Last__l__col2
                        img(src="img/home_last.png")

        footer.footer
            .footer__col1
                a(href="/question")
                    .footer__col1__text 문의 게시판
                .footer__col1__text1 만든이: 익명 
                .footer__col1__text2 만든이 전화: 0101-1010
                .footer__col1__text3 만든이 메일: ##@gmail.com
            .footer__col2
                .footer__col2__icon1   
                    i.fab.fa-instagram
                .footer__col2__icon2
                    i.fab.fa-facebook-f 
                .footer__col2__icon3 
                    i.fab.fa-pinterest   
                .footer__col2__icon4 
                    i.fab.fa-twitter        


