extends ../layouts/serve.pug

block content 
    form.imageForm(action="/imagePost" method="POST")
        div.imageWrapper
            div.imageWrapper__guide 이미지 입력
            div.imageWrapper__content 
                input(type="text" name="img" placeholder="이미지 주소 링크를 써주세요.")
        div.imageWrapper
            div.imageWrapper__guide 제목
            div.imageWrapper__content 
                input(type="text" name="title")
        div.imageWrapper        
            div.imageWrapper__guide 글쓴이 
            div.imageWrapper__content 
                input(type="text" name="author") 
        div.descwriteWrapper
            div.descwriteWrapper__guide 내용
            div.descwriteWrapper__content
                textarea(name="desc")
        div.buttonArea
            input(type="submit" value="게시하기")       
        form.listForm(action="/" method="GET")
            input(type="submit" value="뒤로가기")            