extends ../layouts/imagemain.pug

block content
    section.image
        each I in ImageList
            div.img(style="background-image: url("+ I.img +"); background-size: cover;")
            form(action="/detail" method="GET")
                    input(type="hidden" name="id" value=I._id)
                    input(type="submit" value=I.title) 
        