extends ../layouts/profilemain.pug

block content

    div.profile
        .profile__header
        .profile__like  
            form(action="/imagecreate" method="GET")
                i.fas.fa-th
                input(type="submit" value="게시") 
            form(action="/like" method="GET")
                i.far.fa-heart
                input(type="submit" value="찜") 

    footer.footer
            .footer__col1
                a(href="#")
                    .footer__col1__text 이용약관
                .footer__col1__text1 만든이: 익명 
                .footer__col1__text2 만든이 전화: 0101-1010
                .footer__col1__text3 만든이 메일: ###@gmail.com
            .footer__col2
                .footer__col2__icon1   
                    i.fab.fa-instagram
                .footer__col2__icon2
                    i.fab.fa-facebook-f 
                .footer__col2__icon3 
                    i.fab.fa-pinterest   
                .footer__col2__icon4 
                    i.fab.fa-twitter        
