extends ../layouts/base.pug

block content
    h1.qucreate 문의사항 수정하기
    form.writeForm(action="/questioneditpost" method="POST")
        div.writeWrapper
            div.questioncr__guide TITLE
            div.writeWrapper__content 
                input(type="text" name="title" value=data.title)
        div.writeWrapper        
            div.questioncr__guide AUTHOR
            div.writeWrapper__content 
                input(type="text" name="author" value=data.author) 
        div.descwriteWrapper
            div.questioncr__guide DESC
            div.descwriteWrapper__content
                textarea(name="desc")=data.description

        div.buttonArea
            input(type="hidden" name="id" value=data._id)
            input(type="submit" value="수정하기") 

    form.listForm(action="/question" method="GET")
        input(type="submit" value="돌아가기")             