extends ../layouts/base.pug

block content
    .searchtext 추천 아이디어
    .searchBox
        .searchBox__col1
            .searchBox__col1__sec1
                a(href="/image") 
                    .searchBox__col1__sec1__img
                        .searchBox__col1__sec1__img__text 아기자기한 그림 
            .searchBox__col1__sec2
                a(href="/image")
                    .searchBox__col1__sec2__img 
                        .searchBox__col1__sec2__img__text 지브리 배경
        .searchBox__col2 
            .searchBox__col2__sec1
                a(href="/image") 
                    .searchBox__col2__sec1__img
                        .searchBox__col2__sec1__img__text 디즈니 배경
            .searchBox__col2__sec2
                a(href="/image")
                    .searchBox__col2__sec2__img
                        .searchBox__col2__sec2__img__text 분위기 지리는
        .searchBox__col3
            .searchBox__col3__sec1
                a(href="/image") 
                    .searchBox__col3__sec1__img
                        .searchBox__col3__sec1__img__text 감성 사진
            .searchBox__col3__sec2
                a(href="/image")
                    .searchBox__col3__sec2__img  
                        .searchBox__col3__sec2__img__text 남친 그림
        .searchBox__col4
            .searchBox__col4__sec1
                a(href="/image") 
                    .searchBox__col4__sec1__img
                        .searchBox__col4__sec1__img__text 여친 그림
            .searchBox__col4__sec2
                a(href="/image")
                    .searchBox__col4__sec2__img    
                        .searchBox__col4__sec2__img__text 지브리 감성                                                         