extends ../layouts/base.pug

block content
    .searchtext 추천 아이디어
    .searchBox
        .searchBox__col1
            .searchBox__col1__sec1
                a(href="/home") 
                    .searchBox__col1__sec1__img
            .searchBox__col1__sec2
                a(href="/home")
                    .searchBox__col1__sec2__img 
        .searchBox__col2 
            .searchBox__col2__sec1
                a(href="/home") 
                    .searchBox__col2__sec1__img
            .searchBox__col2__sec2
                a(href="/home")
                    .searchBox__col2__sec2__img
        .searchBox__col3
            .searchBox__col3__sec1
                a(href="/home") 
                    .searchBox__col3__sec1__img
            .searchBox__col3__sec2
                a(href="/home")
                    .searchBox__col3__sec2__img  
        .searchBox__col4
            .searchBox__col4__sec1
                a(href="/home") 
                    .searchBox__col4__sec1__img
            .searchBox__col4__sec2
                a(href="/home")
                    .searchBox__col4__sec2__img                                                              