@import "../css/reset.css";
@import "../css/screens/login.css";

.nav {
    position: fixed;
    bottom: 0px;
    background-color: #fff;

    width: 100%;
    height: 53px;
    
    box-shadow: 0.5px 0.5px 3px rgb(214, 213, 213);

    display: flex;
    flex-direction: row;

    padding: 0px 15px;
}

.nav__col1 ,
.nav__col2 ,
.nav__col3 , 
.nav__col4  {
    padding: 12px 25px;
    
}

.nav__col1 i,
.nav__col2 i,
.nav__col3 i, 
.nav__col4 i {
    font-size: 30px;
    color: rgb(167, 163, 163);
}