.image {
    width: 100%;

    display: flex;
    flex-direction: column-reverse;
}

.img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;

    background-size: cover;
    border-radius: 8px;
}

.image form input {
    height: 40px;
    background-color:#fff;
}