.image {
    width: 100%;
    margin: 50px 0px 100px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.img {
    width: 305px;
    height: 305px;

    background-size: cover;
    border-radius: 8px;
}

.image form input {
    height: 40px;
    background-color:#fff;
}